<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My channel</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="http://127.0.0.1:5500/css/header.css">
    <link rel="stylesheet" href="http://127.0.0.1:5500/css/index.css">
    <link rel="stylesheet" href="http://127.0.0.1:5500/css/mypage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- header-->
    <iframe src="http://127.0.0.1:5500/mypage_header.html" height="200px" width="100%" 
    style="overflow: hidden;" scrolling="no"></iframe>

    <div class="container">
        <!-- 프로필 헤더 -->
        <div class="profile">
            <!-- <div class="profile-img"> -->
                <img src="image/mypage-prorile.jpg" alt="">
            <!-- </div> -->
            <div class="mp-info">
                <span class="name">소녀의 행성</span><br>
                <span class="view">구독자 1만 명</span>
            </div>
            <div class="button">
            <button type="button" class="btn btn-primary">동영상 관리</button>
        </div>
        </div>
        <hr>

        <!-- 업로드한 동영상 -->
        <div class="upload">
            <span class="head_title">업로드한 동영상</span><br>
            <div class="upload_video">
                <img src="image/upload소녀1.webp" alt="">
                <li class="title">엄마 닮은 개를 본 아기강아지의 반응! 😍 소녀와 첫만남</li>
                <li class="views">조회수 30만회 . 10시간 전</li>
            </div>
            <div class="upload_video">
                <img src="image/upload소녀3.webp" alt="">
                <li class="title">[sub]대형견 삥 뜯는 포메 🐶</li>
                <li class="views">조회수 34만회 . 1년 전</li>
            </div>
            <div class="upload_video">
                <img src="image/upload소녀2.webp" alt=""> 
                <li class="title">7마리 아기 강아지들의 첫 마당 산책 🌳 </li>
                <li class="views">조회수 123만회 . 12일 전</li>
            </div>
        </div>
        <hr>

        <!-- 추천 채널 -->
        <div class="recommended">
            <span class="head_title">추천 채널</span><br>
            <div class="recommend">
                <img src="image/recommend-profile.jpg" alt="">
                <li class="channel-name">소녀의 행성</li>
                <li class="channel-views">구독자 3.47천명</li>
                <button type="button" class="btn btn-outline-secondary btn-sm">구독</button>
            </div>
            <div class="recommend">
                <img src="image/recommend-profile2.jpg" alt="">
                <li class="channel-name">BAMMI</li>
                <li class="channel-views">구독자 18.6만명</li>
                <button type="button" class="btn btn-outline-secondary btn-sm">구독</button>
            </div>
        </div>
        <hr>

        <!-- 정보 -->
        <div class="info">
                <span class="head_title">통계</span><br>
                <li>가입일 : 2013.11.24</li>
                <li>조회수 17,145,222회</li>
                <li><a href="#"><i class="fa-regular fa-flag"></a></i></li>
        </div>
    </div>


    <!-- footer -->
    <iframe src="http://127.0.0.1:5500/footer.html" height="100%" width="100%"
        style="overflow-x: hidden; overflow-y: hidden;" scrolling="no"></iframe>

</body>

</html>