:root{
    /* color */
    --white-color : white;
    --black-color : black;
    --blue-color : blue;
    --red-color : red;
    --darkgray-color: darkgrey;
    --lightgray-color: lightgray;
    /* size */
    --side-padding: 10px;
    --avatar-size: 26px;
    /* font size  */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

iframe {
    margin: 0;
    padding: 0;
    border: 0px;
    display: inline;
}

.card {
    float: left;
    width: 265px;
    height: 470px;
    margin: 6px;
    list-style: none;
    margin-bottom: 70px;

}

a{
    color: rgb(96, 96, 96);
}
/* 
.admin{
    border: 1px solid red;
} */